In [11]:
import pandas as pd
import numpy as np


import re
import string

#NLTK
from nltk.corpus import stopwords
from nltk.stem import PorterStemmer
from nltk.tokenize import TweetTokenizer

In [12]:
trump_raw = pd.read_csv("D:\Codes\PROJECT 2\hashtag_donaldtrump.csv",
                 lineterminator='\n')

In [13]:
biden_raw = pd.read_csv("D:\Codes\PROJECT 2\hashtag_joebiden.csv",
                 lineterminator='\n')

In [14]:
#Removes columns of data with very high Na values. 
trump=trump_raw.drop(['user_description','long','lat','city','country','continent',
'state','state_code'], axis=1)

#remove rows of data with less NaN values
trump=trump.dropna(subset=['user_name','source','user_location'])

print(f"This data has (rows x col){trump.shape}")
print(f"total NaN values in this dataFrame: {trump.isna().sum().sum()}")

This data has (rows x col)(675765, 13)
total NaN values in this dataFrame: 0

In [15]:
#Removes columns of data with very high Na values. 
biden=biden_raw.drop(['user_description','long','lat','city','country','continent',
'state','state_code'], axis=1)

#remove rows of data with less NaN values
biden=biden.dropna(subset=['user_name','source','user_location'])

print(f"This data has (rows x col){biden.shape}")
print(f"total NaN values in this dataFrame: {biden.isna().sum().sum()}")

This data has (rows x col)(542952, 13)
total NaN values in this dataFrame: 0

In [16]:
trump['user_location'].head()

0    Philadelphia, PA / Miami, FL
2                        Portland
4                   Washington DC
5               Perris,California
6                      Powell, TN
Name: user_location, dtype: object

# Pre Processing Tweets

In [17]:
def process_tweet(tweet):
    """Process tweet function.
    Input:
        tweet: a string containing a tweet
    Output:
        tweets_clean: a list of words containing the processed tweet

    """
    stemmer = PorterStemmer()
    stopwords_english = stopwords.words('english')
    # remove stock market tickers like $GE
    tweet = re.sub(r'\$\w*', '', tweet)
    # remove old style retweet text "RT"
    tweet = re.sub(r'^RT[\s]+', '', tweet)
    # remove hyperlinks
    tweet = re.sub(r'https?:\/\/.*[\r\n]*', '', tweet)
    # remove hashtags
    # only removing the hash # sign from the word
    tweet = re.sub(r'#', '', tweet)
    
    # tokenize tweets
    tokenizer = TweetTokenizer(preserve_case=False, strip_handles=True,
                               reduce_len=True)
    tweet_tokens = tokenizer.tokenize(tweet)

    tweets_clean = []
    for word in tweet_tokens:
        if (word not in stopwords_english and  # remove stopwords
                word not in string.punctuation):  # remove punctuation
            # tweets_clean.append(word)
            stem_word = stemmer.stem(word)  # stemming word
            tweets_clean.append(stem_word)

    return tweets_clean

In [18]:
trump.head()

,created_at,tweet_id,tweet,likes,retweet_count,source,user_id,user_name,user_screen_name,user_join_date,user_followers_count,user_location,collected_at
0,2020-10-15 00:00:01,1.316529e+18,#Elecciones2020 | En #Florida: #JoeBiden dice ...,0.0,0.0,TweetDeck,3.606665e+08,El Sol Latino News,elsollatinonews,2011-08-23 15:33:45,1860.0,"Philadelphia, PA / Miami, FL",2020-10-21 00:00:00
2,2020-10-15 00:00:02,1.316529e+18,"#Trump: As a student I used to hear for years,...",2.0,1.0,Twitter Web App,8.436472e+06,snarke,snarke,2007-08-26 05:56:11,1185.0,Portland,2020-10-21 00:00:00.746433060
4,2020-10-15 00:00:08,1.316529e+18,You get a tie! And you get a tie! #Trump ‚Äòs ra...,4.0,3.0,Twitter for iPhone,4.741380e+07,Rana Abtar - ÿ±ŸÜÿß ÿ£ÿ®ÿ™ÿ±,Ranaabtar,2009-06-15 19:05:35,5393.0,Washington DC,2020-10-21 00:00:01.492866121
5,2020-10-15 00:00:17,1.316529e+18,@CLady62 Her 15 minutes were over long time ag...,2.0,0.0,Twitter for Android,1.138416e+09,Farris Flagg,FarrisFlagg,2013-02-01 01:37:38,2363.0,"Perris,California",2020-10-21 00:00:01.866082651
6,2020-10-15 00:00:17,1.316529e+18,@richardmarx Glad u got out of the house! DICK...,0.0,0.0,Twitter for iPhone,7.674018e+17,Michael Wilson,wilsonfire9,2016-08-21 16:43:51,75.0,"Powell, TN",2020-10-21 00:00:02.239299182

In [19]:
x={}
i=0

In [20]:

for tweet in trump['tweet']:
    x[i]=process_tweet(tweet)
    i+=1

In [21]:
s = pd.Series(x)


type(s)

pandas.core.series.Series

In [22]:
s

0         [eleccion, 2020, en, florida, joebiden, dice, ...
1         [trump, student, use, hear, year, ten, year, h...
2               [get, tie, get, tie, trump, ‚Äò, ralli, iowa]
3         [15, minut, long, time, ago, omarosa, never, r...
4         [glad, u, got, hous, dick, trump, 2020, üí™, üèΩ, ...
                                ...
675760    [13, email, trump, trumpett, today, 20, sat, d...
675761    [unlik, mussolini, hitler, mao, lenin, stalin,...
675762    [stop, lay, pari, london, dont, give, fuck, bi...
675763    [afd, ler, reagieren, panisch, bi, hysterisch,...
675764                           [ok, trump, catapulttrump]
Length: 675765, dtype: object

In [23]:
s.to_csv(r"D:\Codes\PROJECT 2\processed.csv")

"D:\Codes\PROJECT 2\Shehroz.ipynb"

PermissionError: [Errno 13] Permission denied: 'D:\\Codes\\PROJECT 2\\processed.csv'